{% extends "base.html" %}
{%  load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1 class="text-center">Want to challenge me</h1>
    
    <form method="POST" class="col-md-offset-5 col-md-6">
        {% csrf_token %}
        
        <label for="challenge_id">Challenge The Game</label>
        <br/>
        <input type="text" id="challenge_id" name="name" placeholder="What game challenge?"/>
        <br/>
       
        
        <br/>
        <button type="submit" class="btn btn-danger">Post</button>
    </form>

{% endblock %}